div { 
  margin:10px;
  width:100%; 
  }
img {
  display:block;
  height: 40%;
    width: 50%;
}
.menu {
  width:100%;
  background:#320052;
  list-style:none;
  margin:0px;
  padding:10px;
}
.menu li {
  display:inline-block;  }
.menu li a {
  display:inline-block;
  text-decoration: none;
  color:#FFF;
  padding: 10px 20px;
  border:1px solid black;
}
.menu li a:hover {
  background:#60009E;
  color:#000;  }  

table {
  border-collapse: collapse;
  width:80%;
background-color: white;
margin-left: 10%;
    margin-right: 10%;
}
table td:hover {
  background:black;
  color:#FFF;  }
table th:hover {
  background:black;
  color:yellow;  }
table tr:hover {
  background:#7800FF;  }		
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background: #480076;
    color: white;
}
body{
    background-color: #AE61FF;
}
th,td{
    padding: 10px;
    border:1px solid black;
}
th{
    background-color: #320052;
    color: white;
}
.menucolor{
    background-color: black;
}
.n{
    background-color: #8C47DA;
}
p{
    text-align:center;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 120%;
}
h3{
    margin-top: 20px;
}